footer{
    /* position: absolute;
    bottom: 0; */
    /* height: 10%; */
    min-height: 60px;
    /* width: 100%; */
    flex-direction: column;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: center;
    pointer-events: auto;
} 

footer .social{
    align-self: center
}

