footer{
    /* position: absolute;
    bottom: 0; */
    /* height: 10%; */
    min-height: 60px;
    /* width: 100%; */
    flex-direction: column;
    background-color: var(--terciary);
    color: var(--white);
    display: flex;
    justify-content: center;
    pointer-events: auto;
} 

footer .social{
    align-self: center
}

footer .social .social-icon{
    margin: 0 7px;
}
