.login-container{
    display: flex;
    /* background-color: red; */
    margin: 0 8%;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.login-wrapper{
    display: flex;
    flex: 1;
    background: linear-gradient(to bottom right,#36a4e3, #002855);
    background-image: url("../images/bg-pattern-triangle.jpg");
    /* background-position: right; */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px #333333;
    border-radius: 5px;
    flex-direction: row-reverse;
}
.login-wrapper #login{
    background-color: rgba(12, 4, 78, 0.5);
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    align-self: center;
    color: #ffffff;
    /* filter: grayscale(100%); */
    /* height: 100%; */
    /* align-content: center */

    
}

.login-wrapper #login .form-login{
    /* float: left; */
    padding: 5px;
    box-shadow: 60px 0 -30px #333333;
    display: flex;
}




.login-wrapper #login .form-login form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    flex: 1
    
}

.login-wrapper #movies{
    background-color: #333333;
    color: #ffffff;
    overflow: hidden;
    max-height: 100%;
    position: relative;
    width: 100%;
    /* max-width: 848px; */
}


.login-wrapper #movies video{
    max-width: 100%;
    height: 100%;
    object-fit: cover;

}

.login-wrapper #movies .movies-titles{
    position: absolute;
    left: -10%;
    top: 33%;
    background: linear-gradient(to left, rgba(54, 164, 226, 0.5), #318eda 90%);
    width: 35vw;
    height: 35%;
    display: flex;
    /* justify-content: center; */
}



.show-title-1{
    position: absolute;
    left: -50%;
    animation-name: show-title-1;
    animation-duration: 20s;
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(0, 0.7, 0.36, 1.07);
    animation-iteration-count: 1;
    width: 45%;
}

.show-title-2{
    width: 45%;
    position: absolute;
    left: -100%;
    animation-name: show-title-2;
    animation-delay: 10s;
    animation-duration: 35s;
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(0, 0.7, 0.36, 1.07);
    animation-iteration-count: 1;
}
.show-title-3{
    width: 45%;
    position: absolute;
    left: -100%;
    animation-name: show-title-2;
    animation-delay: 30s; 
    animation-duration: 38s;
    animation-direction: normal; 
    animation-timing-function: cubic-bezier(0, 0.7, 0.36, 1.07);
    animation-iteration-count: 1;
}



