/* Utility classes */

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row
}

.flex-column {
    flex-direction: column
}

.flex-ai-center {
    align-items: center
}

.flex-as-center {
    align-self: center;
}

.flex-ji-center {
    justify-items: center
}

.flex-jc-center {
    justify-content: center
}

.text-center {
    text-align: center;
}

.d-none{
    display: none;
}

.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
.flex-5{
    flex: 5;
}
.flex-6{
    flex: 6;
}
.flex-7{
    flex: 7;
}
.flex-8{
    flex: 8;
}
.flex-9{
    flex: 9;
}
.flex-10{
    flex: 10;
}
.flex-11{
    flex: 11;
}
.flex-12{
    flex: 12;
}




/* XL - Extra Large */
@media all and (min-width: 1200px) {

    .d-none-xl{
        display: none !important;
    }
    .d-visible-xl{
        display: block;
    }
    .flex-1-xl{
        flex: 1;
    }
    .flex-2-xl{
        flex: 2;
    }
    .flex-3-xl{
        flex: 3;
    }
    .flex-4-xl{
        flex: 4;
    }
    .flex-5-xl{
        flex: 5;
    }
    .flex-6-xl{
        flex: 6;
    }
    .flex-7-xl{
        flex: 7;
    }
    .flex-8-xl{
        flex: 8;
    }
    .flex-9-xl{
        flex: 9;
    }
    .flex-10-xl{
        flex: 10;
    }
    .flex-11-xl{
        flex: 11;
    }
    .flex-12-xl{
        flex: 12;
    }
} 
/* L - Large */
@media all and (max-width: 1199px) {

    .d-none-l{
        display: none !important;
    }
    .d-visible-l{
        display: block;
    }
    .flex-1-l{
        flex: 1;
    }
    .flex-2-l{
        flex: 2;
    }
    .flex-3-l{
        flex: 3;
    }
    .flex-4-l{
        flex: 4;
    }
    .flex-5-l{
        flex: 5;
    }
    .flex-6-l{
        flex: 6;
    }
    .flex-7-l{
        flex: 7;
    }
    .flex-8-l{
        flex: 8;
    }
    .flex-9-l{
        flex: 9;
    }
    .flex-10-l{
        flex: 10;
    }
    .flex-11-l{
        flex: 11;
    }
    .flex-12-l{
        flex: 12;
    }
} 
/* M - Medium */
@media all and (max-width: 991px) {
    
    .d-none-m{
        display: none;
    }
    .d-visible-m{
        display: block;
    }
    .flex-1-m{
        flex: 1;
    }
    .flex-2-m{
        flex: 2;
    }
    .flex-3-m{
        flex: 3;
    }
    .flex-4-m{
        flex: 4;
    }
    .flex-5-m{
        flex: 5;
    }
    .flex-6-m{
        flex: 6;
    }
    .flex-7-m{
        flex: 7;
    }
    .flex-8-m{
        flex: 8;
    }
    .flex-9-m{
        flex: 9;
    }
    .flex-10-m{
        flex: 10;
    }
    .flex-11-m{
        flex: 11;
    }
    .flex-12-m{
        flex: 12;
    }
} 
/* S - Small */
@media all and (max-width: 768px) {
    

    .d-none-s{
        display: none;
    }
    .d-visible-s{
        display: block;
    }
    .flex-1-s{
        flex: 1;
    }
    .flex-2-s{
        flex: 2;
    }
    .flex-3-s{
        flex: 3;
    }
    .flex-4-s{
        flex: 4;
    }
    .flex-5-s{
        flex: 5;
    }
    .flex-6-s{
        flex: 6;
    }
    .flex-7-s{
        flex: 7;
    }
    .flex-8-s{
        flex: 8;
    }
    .flex-9-s{
        flex: 9;
    }
    .flex-10-s{
        flex: 10;
    }
    .flex-11-s{
        flex: 11;
    }
    .flex-12-s{
        flex: 12;
    }
} 

/* XS - Extra Small */
@media all and (max-width: 575px) {
    .min-h-600-xs{
        min-height: 600px
    }
    .d-none-xs{
        display: none !important;
    }
    .d-visible-xs{
        display: block !important;
    }

    .d-flex-xs{
        display: flex !important;
    }
    .flex-1-xs{
        flex: 1;
    }
    .flex-2-xs{
        flex: 2;
    }
    .flex-3-xs{
        flex: 3;
    }
    .flex-4-xs{
        flex: 4;
    }
    .flex-5-xs{
        flex: 5;
    }
    .flex-6-xs{
        flex: 6;
    }
    .flex-7-xs{
        flex: 7;
    }
    .flex-8-xs{
        flex: 8;
    }
    .flex-9-xs{
        flex: 9;
    }
    .flex-10-xs{
        flex: 10;
    }
    .flex-11-xs{
        flex: 11;
    }
    .flex-12-xs{
        flex: 12;
    }
    .flex-column-xs {
        flex-direction: column
    }

}

@media all and (max-height: 320px) {

    .d-none-hxs{
        display: none;
    }
    .d-visible-hxs{
        display: block;
    }


}
@media all and (max-height: 768px) {

    .min-hxs-850{
        min-height: 850px
    }


}

/* Fluid Font */
@media screen and (min-width: 320px) {
    html {
      font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    }
  }


