/*
- Recuerda definir los estilos de los elementos principales como las html tags.
    * label
    * input
    * button
    * a
    * h1, h2...
- Colocar sufijo a las los selectores dependiendo de la pagina. Pensarlo.
- Validar el formulario con html

*/

@font-face {
    font-family: ubuntu-r;
    src: url('../fonts/ubuntu-r.ttf');
}


/* Style Tags */
html,
body {
    margin: 0;
    height: 100%;
    font-family: ubuntu-r, Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
}

h1,
h2,
h3,
p {

    padding: 5px 10px;
}

label {
    margin: 1px;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='search'] {
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
    box-shadow: inset 0 0 1px black;
    -moz-box-shadow: inset 0 0 1px black;
    -webkit-box-shadow: inset 0 0 1px black;
    width: 100%;
}

input[type='search'] {
    padding: 15px;

}
button {
    margin: 5px 0;
    padding: 7px;
    background-color: lightblue;
    border: 1px solid lightgray;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    /* background-color: #f5f5f5; */
    height: 100%;
    /* justify-content: center; */
}

header {
    display: flex;
    background-color: #333333;
    z-index: 100;
}

.logo {
    padding: 0 10px;
    display: inline-flex;
    /* background-color: green; */
}
.logo img {
    object-fit: contain;
    max-width: 50%;
    min-width: 50px;
}

.main-nav {
    color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-end;
    /* background-color: orange; */

}

.main-nav > ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    height: 100px;
}

.main-nav > ul li {
    list-style: none;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
}
.main-nav > ul li:hover {
    border-bottom: 2px solid #4dc3d3;
}
.main-nav  ul li.contents{
    position: relative;
}

.main-nav  ul li.contents label{
    cursor: pointer;
    
}
.main-nav  ul li.contents .content-list{
    position: absolute;
    top: 100px ;
    right: 0;
    background-color: #333333;
    border-radius: 2px;
    padding: 10px;
    
}

.main-nav  ul li.contents .content-list ul{
    padding: 2px
}
.main-nav  ul li.contents .content-list ul li{
    list-style: none;
    padding: 2px;
    /* background: red */
}
.main-nav  ul li.contents input[id='content']:checked ~ .content-list,
.main-nav  ul li.contents input[id='content-bars']:checked ~ .content-list{
    display: block;
}



.tag{
    display: inline-block;
    background-color: #4dc3d3; 
    padding: 5px;
    margin: 2px;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 2px;
    text-shadow: 1px 1px 1px #000000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333333; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }